
.main-first{
  margin: 0 100px 0 100px;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  font-size: 18px;
  font-weight:0;
  line-height: 25px;
  @media screen and (max-width:950px){
    grid-template-columns: 1fr;
  }
  
  .box{
    background-image:
    linear-gradient(rgba(0, 80, 145, 0.4),
    rgba(0, 80, 145, 0.5)),
    url(http://2.bp.blogspot.com/-6oPoWQmsWJw/UTTErZEyA_I/AAAAAAAAGBY/9OLzUQfsP04/s1600/Hazara-History.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 50px;
    margin-top: -80px;
    &--new {
      width: 100%;
      z-index: 2;
      
        h2{
            line-height: 1.4;
            color: #fff;
            font-weight: 900;
            font-family: cursive;
            font-size: 40px;
            padding:0px 30% 0px 0%;
        }
        p{
            color:#fff;
            padding:0px 30% 10% 0%;
        }
     .nation{
       color: #ffb400;
     }
    }
    &--right{
      background-image:
      linear-gradient(rgba(0, 80, 145, 0.3),
      rgba(0, 80, 145, 0.3)),
      url(https://383jct21p04k32hydj1dwif0-wpengine.netdna-ssl.com/wp-content/uploads/2014/03/khan.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      h2 {
        padding: 100px 0px 30px 0px;
        color: #fff;
        text-transform: uppercase;
        font-weight: bolder;
        font-family: cursive;
    }
    p{
        color:#fff;
        padding:0px;
        font-size: 15;
    }
    }
  }
}
.main-second{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  &__title{
    color: rgba(63, 43, 43, 0.849);
    font-size: 20px;
    text-align: center;
    padding:50px 0;
  }
  .azra{
    color: #ffb400;
  }
  &__card{
    width:100%;
    margin:0 auto;
    padding: 0 20px 0 20px;
    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      text-align: center;
      grid-column-gap: 15px;
      transition:all 600ms; 
      padding:15px;
      &__card{
        &:hover{
          transform: scale(1.07);
          }
        img{
          width: 250px;
          height: 250px;
          border-radius: 50%;
          margin-bottom: 10px;      
          }
        h3{
          padding-bottom: 30px;
          color: $gray-9;
          font-size:18px;
        }
      }
    }
  }
}
.main-third {
  width: 100%;
  height: auto;
  background-image:
  linear-gradient(to right, rgba(0,0,0, 0.5), rgba(255,255,255,0.001)),
  url(https://photos.smugmug.com/Story-Photos-2/i-QBf8Bmv/0/976ee23f/X2/IN_AHM201901069184-X2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 0px 0 20px 0;
  h2{
    color: white;
    font-size: 30px;
    text-align: left;
    padding: 30px 0 20px 50px;
}
p{
    color: #fff;
    width: 50%;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px 50px 10px 50px;
    @media screen and (max-width:1100px){
      width: 75%;
    }   
}
  
}